service/schemes/deleteTrack.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="params">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="auth_token" minOccurs="1"/>
              <xs:element type="xs:string" name="name" minOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
